body {
    color: rgb(51, 37, 17);
	background-color: rgb(255, 191, 71);
	background: url("1_background.jpg") no-repeat center center;
	background-size: cover;
	display: flex;
	height: 150vh;
}

h3 {
	color: black;
	font-variant: small-caps;
	text-shadow: 2px 2px white;
}

#box {
	
    align-items: center !important;
	text-align: center !important;
	font-size: large !important;
	font-weight: bold !important;
    
    
	
    color: rgb(51, 37, 17) !important;
    background-color: rgba(255, 191, 71, 0.6) !important;
}

#login {
	background-color: rgba(255, 191, 71, 0.1) !important;
	
}

input {
	width: 200px !important;
	display: inline-block !important;
}

.next {
	font-weight: bold !important;
	color: black !important;
	font-size: 150%;
	font-variant: small-caps;
	color: black;
	float: right;
	text-shadow: 1px 1px white;
}

#registrationbox input {
	width: 300px !important;
	margin-bottom: 5px;
}

#registrationbox label {
	margin-top: 8px;
}

#welcome_logout {
	margin: 20px 20px;
}

#welcome_go {
	color: rgb(51, 37, 17);
	font-weight: bold !important;
}

#logout_success {
	color: black;
	font-variant: small-caps;
	text-shadow: 2px 2px white;
}
