body {

    /*background-color: rgb(245, 192, 124);*/
    background-color: rgb(211, 135, 100);
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px rgb(191, 155, 94);

}

.navbar{

    background: transparent !important;
    font-weight: bold !important;
    color: rgb(255, 255, 255) !important;
    text-shadow: 3px 3px rgb(61, 50, 30) !important;
}

.bg{
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url("1_background.jpg") no-repeat center center;
    background-size: cover;
    color: rgb(255, 255, 255);
    /*background-color: rgba(255, 191, 71, 0.7) !important;*/
    background-color: rgb(185, 103, 78) !important;
    text-shadow: 3px 3px rgb(191, 155, 94) !important;
    font-weight: bold;
}

#leadbox {

    background-color: rgba(255, 191, 71, 0.4) !important;

}

a {
    color: rgb(255, 255, 255);
}

.scrolled{

    background: rgb(170, 62, 48) !important;
    transition: 1.5s linear !important;
}

h1 {
    font-weight: bold !important; 
    text-shadow: 6px 6px rgb(191, 155, 94);

}

hr {

    border-top: 3px dotted black;

}

h2 {
	color: black;
	font-variant: small-caps;
	text-shadow: 2px 2px white;
}

#contact {
    display: flex;
   	text-align: center !important;
    background: url("1_background.jpg") no-repeat center center !important;
    background-size: cover !important;
    color: rgb(51, 37, 17);
	text-shadow: none !important;
    font-weight: bold !important;
}


img {
	border-radius: 8px;
	border: 2px black;
	padding: 5px;
  	width: 100% !important;
}

#list_img {
	border-radius: 8px;
	border: 5px black !important;
	padding: 5px;
  	width: 40% !important;
}

.next {
	color: black;
	font-variant: small-caps;
	text-shadow: 2px 2px white;
	font-size: large;
	font-weight: bold;
}

#result_name {
	color: black;
	font-weight: bold;
}

#recipe_title {
	color: black;
	font-weight: bold;
	font-size: 150%;
	padding-left: 25px;
}

.card-body {
	color: black;
	text-shadow: none;
}

.card-title {
	font-weight: bold;
}

.btn-dark {
	text-shadow: none;
}
